
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 1480px;
    height: 100px;
    
    
}
.nav-title{
    font-weight: 222;
    font-size: 32px;
}
nav ul li{
    list-style: none;
}
.btn-sign{
    
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    color: rgb(0, 106, 80);
    font-weight: bold;
    border-radius: 8px;
    padding: 15px 30px;
    background-color: white;
   
}
.bgmargin{
    margin-left: 160px;
    margin-right: 160px;
}
.btnex{
    border-radius: 8px;
background: rgb(0, 106, 80);
padding: 17px 34px 17px 34px;
font-size: 18px;
font-weight: bold;
color: rgb(255, 255, 255);
border: none;
}
.ch1{
    font-size: 56px;
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: bold;
    gap: 16px;
}
.ch3{
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
}
.banner{
    display: flex;
    border-radius: 24px;
background: rgb(198, 228, 214);
width: 1280px;
height: 560px;
align-items: center;
padding: 80px 100px 80px 100px;
margin: 10px 0px;
}
.bimg{
    width: 474px;
    height: 400px;
    margin-left: 64px;
    margin-right: 59px;
}
.banner-content{
    margin-right: 59px;
    margin-top: 117px;
    margin-bottom: 117px;
}
.pillar-title{
    font-size: 40px;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 32px;
}
.pillar-titlem{
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.7);
}
.pillar-box{
    display: flex;
    gap: 24px;
 
}
.pillar{
    
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
padding: 24px;
width: 302px;
height: 244px;

}
.pillar-des{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
}
.vision-title{
    font-size: 40px;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 32px;
}
.vision-p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    width: 1526px;
    height: 48px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.vision-box{
    display: flex;
    gap: 24px;
}
.visionblue{
border-radius: 16px;

background: rgba(84, 144, 245, 0.2);
padding: 32px;
width: 425px;
height: 325px;
color: rgba(14, 14, 14, 0.7);
font-size: 20px;
}
.visiongreen{
    
border-radius: 16px;

background: rgb(198, 228, 214);
padding: 32px;
width: 420px;
height: 325px;
color: rgba(14, 14, 14, 0.7);
font-size: 20px;
}
.visionyellow{
   
border-radius: 16px;

background: rgb(247, 235, 207);
padding: 32px;
width: 425px;
height: 325px;
color: rgba(14, 14, 14, 0.7);
font-size: 20px;
}
.vision-des{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
}
.learnblue{
    border-radius: 8px;

    background: rgb(84, 144, 245);
    width: 122px;
    height: 41px;
    color: rgb(255, 255, 255);

font-size: 16px;
font-weight: 600;
border: none;
margin-top: 24px;

}
.learngreen{
    border-radius: 8px;

    background: rgb(9, 161, 92);
    width: 122px;
    height: 41px;
    color: rgb(255, 255, 255);

font-size: 16px;
font-weight: 600;
border: none;
margin-top: 24px;
}
.learnyellow{
    border-radius: 8px;

    background: rgb(255, 194, 57);
    width: 122px;
    height: 41px;
    color: rgb(255, 255, 255);

font-size: 16px;
font-weight: 600;
border: none;
margin-top: 24px;
}
.lorem{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
padding: 48px 24px 48px 24px;

background: rgb(255, 255, 255);
background-image: url("../assest/quote-bg.png");
background-repeat: no-repeat;
background-position: 24px 25px;
width: 1500px;
height: 256px;
margin-top: 32px;

}
.yuhead{
    color: rgba(14, 14, 14, 0.8);

font-size: 20px;
font-weight: 600;
margin-bottom: 0px;
margin-top: 12px;

}
.yup{
    color: rgba(14, 14, 14, 0.6);

font-size: 16px;
font-weight: 400;
margin-top: 4px;
}
.yup1{
    color: rgba(14, 14, 14, 0.8);

font-size: 16px;
font-weight: 400;
word-spacing: normal ;
}
.tahead{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(198, 228, 214);
width: 1216px;
height: 72px;
text-align: left;
font-size: 20px;
font-weight: 600px;
}
.optable{
width: 1480px;
height: 409px;

gap: 24;
padding: 32px;

margin: 24px 0px;
 border-radius: 16px;

background: rgb(255, 255, 255);
border: 1px solid rgb(255, 255, 255);

}
.tfull{
    width: 1416px;
    height: 345px;
    
    

border:  1px solid rgba(14, 14, 14, 0.15);
}
.satable{
    color: rgb(14, 14, 14);
font-size: 16px;
font-weight: 600;


}
.yo{
    width: 152px;
    height: 44px;
    background-color: rgb(198, 228, 214);
    border: 2px solid black;
margin: 24px;
font-size: 16px;
font-weight: 700;
border-radius: 8px;
text-align: center;
}
table{
    border-collapse: collapse;
    
}

td{
    border: 1px solid rgba(14, 14, 14, 0.15);
  padding-left: 24px;
}
th{
    padding: 24px;
}
.ophead{
    color: rgb(14, 14, 14);

font-size: 40px;
font-weight: 700;
margin-top: 80px;
margin-bottom: 24px;
}